﻿
<div class="card">
    <h4 class="card-header">Account management</h4>
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="submit()">     
            <label for="operationType">Make transaction</label>
            <div class="col-ms-5">
                <div class="row justify-content-around">
                    <div>
                        <label for="amount">Amount : </label>&nbsp;
                        <input type="number" formControlName="amount" name="amount"/>$
                    </div>
                    <div class="form-group">
                        <input id="deposit" type="radio" value="deposit" name="operationType" formControlName="operationType">&nbsp;
                        <label for="deposit"><strong>Deposit</strong> </label>
                    </div>
                    <div>
                        <input id="withdrawal" type="radio" value="withdrawal" name="operationType" formControlName="operationType">&nbsp;
                        <label for="Withdrawal"><strong>Withdrawal</strong> </label>
                    </div>  
                    <div style="background-color: aliceblue;  border-radius: 10px;">
                        <label><strong>Balance : </strong></label>&nbsp;
                        <label style="color: green;"><strong>{{balance}}</strong></label>
                    </div>       
                </div>
                <button class="btn btn-primary" type="submit" [disabled]="!form.valid">Submit</button>
            </div>
            <div  class="alert alert-info mt-3 mb-0">{{message}}</div>
        </form>
    </div>
</div>

<div class="card mt-4">
    <h4 class="card-header">Last Operations</h4>
    <div class="card-body">
        <div *ngIf="loading" class="spinner-border spinner-border-sm"></div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Operation Type</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody *ngIf="operations">
                    <tr *ngFor="let operation of operations">
                      <th>{{operation.opId}}</th>
                      <td>{{operation.type}}</td>
                      <td>{{operation.operationDate | date: 'short'}}</td>
                      <td>{{operation.amount}}$</td>
                    </tr>
            </tbody>
        </table>
    </div>
</div>